<template>
  <div>
    <small class="copyright">powered by <a href="https://www.tradisys.com/">Tradisys</a></small>
    <div class="tables">
      <div class="w-100">
        <table class="controls">
          <colgroup>
            <col span="3" style="background:#f0f0f0">
          </colgroup>
          <tr>
            <th colspan="3" class="header">Controls</th>
          </tr>
          <tr>
            <th colspan="2">games count</th>
            <td>
              <label>
                <input
                  required
                  type="number"
                  min="1"
                  max="10"
                  v-model.number="gamesCount"
                  @change="updateGamesCount"
                />
              </label>
            </td>
          </tr>
          <tr>
            <th colspan="2">dices count</th>
            <td>
              <label>
                <select v-model.number="dicesCount" @change="updateDicesCount">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </label>
            </td>
          </tr>
          <tr>
            <th colspan="2">bet amount</th>
            <td>
              <label>
                <select v-model.number="betAmount" @change="updateBetAmount">
                  <option>1</option>
                  <option>2</option>
                  <option>4</option>
                  <option>8</option>
                  <option>14</option>
                </select>
              </label>
            </td>
          </tr>
          <tr>
            <th>paused</th>
            <td>{{paused}}</td>
            <td>
              <button
                type="submit"
                @click.prevent="pauseUnpause"
              >
                {{paused ? 'start' : 'pause'}}
              </button>
            </td>
          </tr>
        </table>
      </div>
      <div class="w-100"></div>
      <div class="w-100"></div>
    </div>

    <div class="tables">

      <div class="w-100">
        <table class="global">
          <colgroup>
            <col span="6" style="background:#f0f0f0">
          </colgroup>
          <tr>
            <th colspan="6" class="header">Leaders</th>
          </tr>
          <tr>
            <th>#</th>
            <th>address</th>
            <th>score</th>
            <th>times</th>
            <th>won</th>
            <th>w/rate</th>
          </tr>
          <tr v-for="(item, id) in leaders" :key="id" :class="{me: item.playerAddress === address}">
            <td>{{id + 1}}</td>
            <td>{{item.playerAddress}}</td>
            <td>{{item.score}}</td>
            <td>{{item.timePlayed}}</td>
            <td>{{item.cleanWonAmount}}</td>
            <td>{{item.winRate}}%</td>
          </tr>
        </table>
      </div>

      <div class="w-100">
        <table class="global">
          <colgroup>
            <col span="1" style="background:#f0f0f0">
            <col style="background-color:#8aff6a">
          </colgroup>
          <tr>
            <th colspan="2" class="header">Account</th>
          </tr>
          <tr>
            <th>address</th>
            <th>balance</th>
          </tr>
          <tr>
            <td>{{address}}</td>
            <td>{{balance}} WAVES</td>
          </tr>
        </table>
      </div>

    </div>

    <div class="tables">

      <div class="w-100">
        <table class="played">
          <colgroup>
            <col span="2" style="background:#f0f0f0">
            <col style="background-color:LightCyan">
          </colgroup>
          <tr>
            <th colspan="5" class="header">Played</th>
          </tr>
          <tr>
            <th>#</th>
            <th>id</th>
            <th>amount</th>
            <th>dices</th>
            <th>state</th>
          </tr>
          <tr v-for="(item, id) in playedGames" :key="item.id">
            <td>{{id + 1}}</td>
            <td>{{item.id}}</td>
            <td>{{item.amount}}</td>
            <td>{{item.dices}}</td>
            <td
              :class="[{won: item.state === 'WON'}, {lost: item.state === 'LOST'}]"
            >{{item.state}}
            </td>
          </tr>
        </table>
      </div>

      <div class="w-100">
        <table class="submitted">
          <colgroup>
            <col span="2" style="background:#f0f0f0">
            <col style="background-color:LightCyan">
          </colgroup>
          <tr>
            <th colspan="5" class="header">Submitted</th>
          </tr>
          <tr>
            <th>#</th>
            <th>id</th>
            <th>amount</th>
            <th>dices</th>
            <th>state</th>
          </tr>
          <tr v-for="(item, id) in submittedGames" :key="item.id">
            <td>{{id + 1}}</td>
            <td>{{item.id}}</td>
            <td>{{item.amount}}</td>
            <td>{{item.dices}}</td>
            <td>{{item.state}}</td>
          </tr>
        </table>
      </div>

    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
import config from '@/config';

export default {
  data() {
    return {
      betAmount: 1,
      dicesCount: 3,
      gamesCount: 5,
    };
  },
  computed: {
    ...mapGetters({
      paused: 'paused',
      balance: 'balance',
      leaders: 'leaders',
      playedGames: 'playedGames',
      submittedGames: 'submittedGames',
    }),
    address() {
      return config.player.address;
    },
  },
  methods: {
    ...mapActions({
      pause: 'pause',
      setGamesCount: 'setGamesCount',
      setDicesCount: 'setDicesCount',
      setBetAmount: 'setBetAmount',
    }),
    updateBetAmount() {
      this.setBetAmount(this.betAmount);
    },
    updateDicesCount() {
      this.setDicesCount(this.dicesCount);
    },
    updateGamesCount() {
      if (this.gamesCount <= 10) {
        this.setGamesCount(this.gamesCount);
      }
    },
    pauseUnpause() {
      this.pause(!this.paused);
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
  .w-100 {
    width: 100%;
  }

  table {
    width: 100%;

    th.header {
      border: 1px solid black;
    }

    th:not(.header) {
    }

    tr.me {
      background-color: #8aff6a;
    }

    td.won {
      background-color: rgba(33, 255, 72, 0.51);
    }

    td.lost {
      background-color: rgba(255, 44, 49, 0.51);
    }
  }

  table.controls {
    input, select, label, button {
      width: 100px;
    }
  }

  .copyright {
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 10px;
  }

  .tables {
    display: flex;
    flex-direction: row;
    flex: 1;
    text-align: left;
  }
</style>
